@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


*{
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #00215E;
    text-decoration: none
}

/* TOP NAV BAR PENTRU NUME SI POZA  */
.TopNavBar {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #FFF2D7;
    padding-bottom: 20px;
}

.TopNavBar img {
    position: absolute; 
    left: 30px; 
    top: 50%; 
    width: 120px; 
    height: 120px;
    transform: translateY(-50%); 
    z-index: 1; 
    background-color: #EEF7FF;
    border-radius: 50%;
    margin-top: 40px;
}

.TopNavBar h1 {
    margin: 0; 
    z-index: 2;
    font-size: 50px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.linksToPages {
    text-align: center;
    margin-top: 50px;
}

.linksToPages a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.linksToPages a:hover {
    color: #8a8686;
    border-bottom: #00215E 2px dashed;
}

/* CONTAINER AUTHOR */
.tableOfAuthorsRecipes{
    margin-top: 150px;
    margin-left: auto; 
    margin-right: auto;
    width: 80%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.tableOfAuthorsRecipes h2{
    font-size: 30px;
    margin-bottom:20px ;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}
.tableOfAuthorsRecipes span{
    padding-left: 10px;
    font-size: 35px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
}
/* TABLE */
.tableOfAuthorsRecipes table {
    border-collapse: collapse; 
    width: 80%; 
    margin-top: 50px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;

}
.tableOfAuthorsRecipes th{
    background-color: #C7C8CC;
    color: black;
    padding: 10px 0 10px 0;
    border-bottom: 3px solid black;
    font-size: 20px;
}
.tableOfAuthorsRecipes td {
    padding: 10px; 
    border-bottom: 1px solid black; 
    text-align: center; 
    font-size: 18px;
    width: 20%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.tableOfAuthorsRecipes tr:hover {
    background-color: whitesmoke;
}

/* PAGINARE */
#pagination {
    text-align: center;
    margin: 50px;
}

#pagination button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#pagination button:hover {
    background-color: #0A6847;
}

/* FOOTER */
footer {
    position: static;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
footer p {
    margin: 0; 
}