@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


*{
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #00215E;
    text-decoration: none
}

/* TOP NAV BAR PENTRU NUME SI POZA  */
.TopNavBar {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #FFF2D7;
    padding-bottom: 20px;
}

.TopNavBar img {
    position: absolute; 
    left: 30px; 
    top: 50%; 
    width: 120px; 
    height: 120px;
    transform: translateY(-50%); 
    z-index: 1; 
    background-color: #EEF7FF;
    border-radius: 50%;
    margin-top: 40px;
}

.TopNavBar h1 {
    margin: 0; 
    z-index: 2;
    font-size: 50px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* LINCKS TOP NAV BAR */
.linksToPages {
    text-align: center;
    margin-top: 50px;
}

.linksToPages a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.linksToPages a:hover {
    color: #8a8686;
}

/* SEARCH */
.search{
    margin-top: 50px;
    display: flex;
    justify-content: space-between
}
.search .left,
.search .right {
    display: flex;
    align-items: center; 
}
.search input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    width: 300px;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
    border-bottom: 2px solid black;
    font-size: 20px;
    padding: 10px;
}
.search input:hover{
    background-color: whitesmoke;
}

.search button {
    background-color: transparent;
    border: none;
    display: flex; 
    align-items: center;
    background-color: transparent; 
    border: none; 
    margin-left: 15px; 
}
.search input[type="text"]::placeholder {
    text-align: center;
}
.left{
    margin-left: 150px;
}
.right{
    margin-right: 150px;
}


/* TABLE OF RECIPES */
.container {
    display: flex;
    justify-content: space-between;
}
/* TABLE OF RECIPES */
.tableOfRecipes {
    margin-left: 50px;
    margin-right: 50px;

}

.tableOfRecipes table {
    border-collapse: collapse; 
    width: 100%; 
    margin-top: 50px;
}

.tableOfRecipes th, .tableOfRecipes td {
    padding: 10px; 
    border: 1px solid black; 
    text-align: center; 
}

.tableOfRecipes h2{
    margin: 50px 0 50px 50px;
    font-size: 40px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
}


/* TOP ELEMENT TABLE */

.topElementsTable{
    margin-right: 50px;
}
.topElementsTable h2{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.topElementsTable th,
.topElementsTable td {
    padding: 10px;
    text-align: center;
}

/* TOP ELEMENTS TABLE WIDTH */
.topElementsTable{
    width: 80%;
}
.topElementsTable td{
    width: 20%;
}


/* PAGINARE */
#pagination {
    text-align: center;
    margin: 50px;
}
#pagination button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

#pagination button:hover {
    background-color: #0A6847;
}



/* FOOTER */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
footer p {
    margin: 0; 
}