@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #00215E;
    text-decoration: none
}


/* TOP NAVA BAR  */
.TopNavBar {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #FFF2D7;
    padding-bottom: 20px;
}

.TopNavBar img {
    position: absolute; 
    left: 30px; 
    top: 50%; 
    width: 120px; 
    height: 120px;
    transform: translateY(-50%); 
    z-index: 1; 
    background-color: #EEF7FF;
    border-radius: 50%;
    margin-top: 40px;
}
.TopNavBar h1 {
    margin: 0; 
    z-index: 2;
    font-size: 50px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* LINCKS TOP NAV BAR */
.linksToPages {
    text-align: center;
    margin-top: 50px;
}

.linksToPages a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.linksToPages a:hover {
    color: #8a8686;
    border-bottom: #00215E 2px dashed;
}


/* DETAIL LIST */
.container{
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.container h1{
    font-size: 50px;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    border-bottom: black 4px solid;
    margin-right: 250px;
    padding: 20px;
}
.recipe-details{
    margin-top: 50px;
}
#recipeName{
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 50px;
}
#description{
    font-size: 20px;
    margin-left: 50px;
}
.container h2{
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    margin-bottom: 20px;
}
.container p{
    font-size: 20px;
    margin: 50px;

}
ul{
    margin: 50px 0 50px 0;
    list-style: none;
}
ul li {
    font-size: 20px;
    padding: 10px 0  10px 0 ;
}
ul li::marker{
    content: ' ▶️ ';
}

/* GO TO TOP BUTTON */
#goTopBtn {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent; 
    padding: 0; 
}

#goTopBtn:hover {
    opacity: 0.8; 
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
footer p {
    margin: 0; 
}